:root {
  color: #212121;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background: #fff;
  padding: 6px;
  font-family: Roboto, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #fafafa;
  }
  body {
    background-color: #121212;
  }
  a {
    color: #0070ff;
  }
}

table {
  width: 100%;
  display: grid;
  border-collapse: collapse;
  font-size: 12px;

  grid-template-columns:
    max-content
    1fr;
  column-gap: 8px;
  row-gap: 8px;
}

thead,
tbody,
tr {
  display: contents;
}

tr.hr {
  grid-column-start: span 2;
  border-top: 1px solid #ccc;
  display: block;
}
tr.miss{
  opacity: .6;
  text-align: center;
  grid-column-start: span 2;
  display: block;
  font-size: 12px;
}
